PORT=5000
API_KEY=your-secret-api-key-optional
PROXY=proxy-host:proxy-port:proxy-username:proxy-password

# Telebirr Expected Values (Uses phone number e.g. 0912345678 or +251912345678)
TELEBIRR_EXPECTED_AMOUNT=100
TELEBIRR_EXPECTED_RECIPIENT_ACCOUNT=0912345678
TELEBIRR_EXPECTED_RECIPIENT_NAME=Abrham Yalew
TELEBIRR_EXPECTED_PAYMENT_YEAR=2025
TELEBIRR_EXPECTED_PAYMENT_MONTH=12
TELEBIRR_EXPECTED_STATUS=Completed

# CBE Expected Values
CBE_EXPECTED_AMOUNT=40
CBE_EXPECTED_RECIPIENT_ACCOUNT=1****1234
CBE_EXPECTED_RECIPIENT_NAME=ABRHAM YALEW
CBE_EXPECTED_PAYMENT_YEAR=2025
CBE_EXPECTED_PAYMENT_MONTH=12

# BOA (Bank of Abyssinia) Expected Values
BOA_EXPECTED_AMOUNT=200
BOA_EXPECTED_RECIPIENT_ACCOUNT=1******95
BOA_EXPECTED_RECIPIENT_NAME=TEWODROS HULGIZIE TEMESGEN
BOA_EXPECTED_PAYMENT_YEAR=25
BOA_EXPECTED_PAYMENT_MONTH=10

# Amhara Bank Expected Values
AB_EXPECTED_AMOUNT=25
AB_EXPECTED_RECIPIENT_ACCOUNT=ETB1251800010003
AB_EXPECTED_RECIPIENT_NAME=Abrham Yalew
AB_EXPECTED_PAYMENT_YEAR=2026
AB_EXPECTED_PAYMENT_MONTH=01
