# Binaries
server
telebirr-payment-verifier
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Environment files
.env
.env.local

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Temporary files
tmp/
dist/
build/
